// =====================================================================
// Dependencies
script(src='vendors/jquery/dist/jquery.min.js')
script(src='vendors/bootstrap/dist/js/bootstrap.js')
script(src='vendors/responsive.js/responsive.js')
script(src='vendors/jQuery.dotdotdot/src/js/jquery.dotdotdot.min.js')

// =====================================================================
// Main flow
script(src='scripts/main.js')
