footer {
	background: $white;
	margin-top: $gap-vertical;
	> .area_1.area {
		background: #3C3D41;
		padding: 34px 0;
		> .group_1 {
			float: left;
			width: 25%;
			border-right: 1px solid rgba(255, 255, 255, 0.1);
			font-family: PTSerif-Regular;
			font-size: 12px;
			color: #CCCCCC;
			letter-spacing: 0.3px;
			line-height: 17px;
			padding: 27px 26px 27px 40px;
		}
		> .container {
			display: table;
			float: left;
			width: 75%;
			padding: 0;
			> .group_2 {
				display: table-cell;
				vertical-align: top;
				width: 36%;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				padding-left: 39px;
				.line {
					.col_1 {
						float: left;
						width: 76px;
						margin-right: 44px;
						a {
							font-family: Montserrat-Bold;
							font-size: 10.56px;
							color: $white;
							letter-spacing: 1px;
							line-height: 13px;
						}
					}
					.col_2 {
						float: left;
						width: 96px;
						a {
							opacity: 0.56;
							font-family: Montserrat-Regular;
							font-size: 10.56px;
							color: $white;
							line-height: 13px;
						}
					}
				}
			}
			> .group_3 {
				display: table-cell;
				vertical-align: top;
				width: 21%;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				padding: 6px 0 12px 31px;
				.title {
					font-family: Montserrat-Bold;
					font-size: 8.64px;
					color: $white;
					letter-spacing: 1.69px;
					line-height: 10px;
					margin-bottom: 24px;
				}
				ul.content {
					list-style-type: none;
					padding: 0;
					li {
						opacity: 0.56;
						line-height: 9px;
						padding: 0 0 15px 28px;
						a {
							font-family: Montserrat-Regular;
							font-size: 10.56px;
							color: $white;
						}
						&.facebook {
							background: url(imgs/footer_facebook.svg) 4px 0 no-repeat;
						}
						&.twitter {
							background: url(imgs/footer_twitter.svg) 0 0 no-repeat;
						}
						&.instagram {
							background: url(imgs/footer_instagram.svg) 2px 0 no-repeat;
						}
						&.rss {
							background: url(imgs/footer_rss.svg) 2px 0 no-repeat;
						}
					}
				}
			}
			> .group_4 {
				display: table-cell;
				vertical-align: top;
				width: 43%;
				padding: 5px 10% 0 4%;
				.title {
					font-family: Montserrat-Bold;
					font-size: 8.64px;
					color: $white;
					letter-spacing: 2px;
					line-height: 10px;
					padding-bottom: 15px;
				}
				.description {
					font-family: PTSerif-Regular;
					font-size: 11.66px;
					color: #666666;
					letter-spacing: 0.2px;
					line-height: 18px;
					padding-bottom: 16px;
				}
				.form {
					background: #2E2E30;
					border-radius: 4px;
					overflow: hidden;
					height: 38px;
					position: relative;
					.input {
						float: left;
						width: 100%;
						input {
							width: 100%;
							height: 38px;
							padding: 5px 50px 5px 12px;
							background: #2E2E30;
							font-family: Montserrat-Regular;
							font-size: 11.66px;
							color: #868686;
							letter-spacing: 0.4px;
							line-height: 14px;
							border: none;
							-moz-appearance: none;
							-webkit-appearance: none;
							&:focus {
								outline: none;
							}
						}
					}
					.button {
						display: block;
						float: left;
						position: absolute;
						right: 0;
						top: 0;
						button.email {
							background: url(imgs/footer_email.svg) center no-repeat #8BD393;
							width: 39px;
							height: 38px;
							-moz-appearance: none;
							-webkit-appearance: none;
							border: none;
							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
	> .area_2.area {
		> .group_1 {
			float: left;
			width: 25%;
			padding: 19px 104px 10px 68px;
		}
		> .container {
			display: table;
			float: left;
			width: 75%;
			margin: 34px 0 0;
			padding: 0;
			> .group_2 {
				display: table-cell;
				vertical-align: top;
				width: 36%;
				font-family: PTSerif-Regular;
				font-size: 10.83px;
				color: #888888;
				line-height: 14px;
				border-left: 1px solid rgba(131, 141, 143, 0.3);
				padding: 6px 0 10px 31px;
			}
			> .group_3 {
				display: table-cell;
				vertical-align: top;
				width: 21%;
				font-family: PTSerif-Regular;
				font-size: 10.83px;
				color: #888888;
				line-height: 14px;
				border-left: 1px solid rgba(131, 141, 143, 0.3);
				padding: 6px 0 10px 31px;
			}
			> .group_4 {
				display: table-cell;
				vertical-align: top;
				width: 43%;
				border-left: 1px solid rgba(131, 141, 143, 0.3);
				padding: 5px 10% 0 4%;
				.form {
					height: 25px;
					position: relative;
					.input {
						height: 25px;
						width: 100%;
						input {
							background: #EDEDED;
							border-radius: 40px;
							border: none;
							height: 25px;
							width: 100%;
							-moz-appearance: none;
							-webkit-appearance: none;
						}
					}
					.button {
						position: absolute;
						right: 11px;
						top: -5px;
						button.search {
							-moz-appearance: none;
							-webkit-appearance: none;
							border: none;
							background: url(imgs/footer_search.svg) 0 0 no-repeat;
							width: 12px;
							height: 12px;
						}
					}
				}
			}
		}
	}
	> .area_3 {
		height: 348px;
	}
	> .area_4 {
		height: 50px;
		.copyright {
			float: left;
			width: 50%;
			opacity: 0.44;
			font-family: PTSerif-Regular;
			font-size: 10.83px;
			color: #323335;
			letter-spacing: 0.1px;
			line-height: 14px;
			padding: 15px 0 0 96px;
		}
		ul.menu {
			float: left;
			width: 50%;
			list-style-type: none;
			padding: 7px 15px 0 0;
			li {
				float: left;
				padding: 0 10px 0 7px;
				a {
					font-family: Montserrat-Regular;
					font-size: 10.56px;
					color: #3C3D41;
					line-height: 13px;
				}
			}
		}
	}
}
