header {
	background: $white;
	margin: auto;
	height: $header-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999999;
	transition: $menu-pushed-transition;
	.pushed & {
		left: -$menu-pushed;
		right: $menu-pushed;
	}
	.sm &,
	.xs & {
		background-size: 50px;
		background-position: 10px 5px;
		height: 60px;
		padding-right: 0;
	}
	.main {
		background: url(imgs/logo.png) 24px 16px no-repeat;
		height: $header-height;
		margin: auto;
		padding: 0 33px 0 155px;
		width: 1024px;
		.top {
			border-bottom: 1px solid #434A54;
			height: 60px;
			max-height: 60px;
			transition: max-height .5s;
			overflow: hidden;
			.social {
				float: left;
				width: 115px;
				.icon {
					background-position: center;
					background-repeat: no-repeat;
					border: 1px solid #434A54;
					border-radius: 40px;
					display: block;
					float: left;
					height: 29px;
					margin: 15px 9px 0 0;
					width: 29px;
					&.facebook {
						background-image: url('imgs/icon_facebook.svg');
					}
					&.twitter {
						background-image: url('imgs/icon_twitter.svg');
					}
					&.rss {
						background-image: url('imgs/icon_rss.svg');
					}
				}
			}
			.signin {
				float: right;
				.button {
					border: 1px solid #434A54;
					border-radius: 40px;
					color: #434A54;
					display: block;
					font-family: Montserrat-Bold;
					font-size: 8.46px;
					height: 29px;
					margin: 15px 0 0 0;
					letter-spacing: 2px;
					line-height: 10px;
					padding: 8px;
					text-align: center;
					width: 103px;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.sm &,
			.xs & {
				display: none;
			}
		}
		.bottom {
			transition: color .5s;
			display: table;
			width: 100%;
			height: 66px;
			.left {
				display: table-cell;
				text-align: right;
				vertical-align: top;
				ul.menu {
					list-style-type: none;
					margin: 21px 13px 0 0;
					li {
						display: inline-block;
						margin-right: 26px;
						a {
							font-family: Montserrat-Regular;
							font-size: 16px;
							color: #434A54;
							line-height: 19px;
						}
					}
				}
				.sm &,
				.xs & {
					display: none;
				}
			}
			.right {
				display: table-cell;
				width: 102px;
				vertical-align: top;
				border-left: 1px solid #434A54;
				position: relative;
				.sm &,
				.xs & {
					display: block;
					float: right;
					width: 86px;
					margin-top: 11px;
					height: 38px;
				}
				> .icon {
					background-position: center;
					background-repeat: no-repeat;
					display: block;
					float: left;
					height: 29px;
					margin: 20px 0px 0 21px;
					width: 29px;
					&.search {
						background-image: url('imgs/icon_search.svg');
						.sm &,
						.xs & {
							float: right;
							margin: 6px 6px 0 0;
						}
					}
					&.hamburger {
						background-image: url('imgs/icon_hamburger.svg');
						.sm &,
						.xs & {
							float: right;
							margin: 6px 6px 0 0;
							background-size: 22px;
						}
					}
				}
				.hamburger-menu {
					background: #434A54;
					position: fixed;
					top: 0;
					right: 0;
					width: $menu-pushed;
					max-width: 0;
					overflow: hidden;
					transition: $menu-pushed-transition;
					height: 100%;
					.pushed & {
						max-width: $menu-pushed;
					}
					> .icon {
						padding: 20px 0 0 20px;
					}
					.title {
						padding: 25px 0 0 20px;
						opacity: 0.61;
						font-family: Montserrat-Regular;
						font-size: 24px;
						color: $white;
						line-height: 28px;
						white-space: nowrap;
					}
					.menu {
						list-style-type: none;
						padding: 0;
						margin: 35px 0 0;
						> li {
							line-height: 28px;
							border-top: 1px solid $grey-text;
							a {
								font-family: Montserrat-Regular;
								color: $white;
								padding: 10px 35px;
								display: inline-block;
								font-size: 24px;
								white-space: nowrap;
								width: 100%;
								text-decoration: none;
								> .icon {
									width: 27px;
									display: inline-block;
									text-align: center;
									margin-right: 23px;
								}
							}
							&:hover {
								background: #E5555B;
							}
						}
					}
				}
			}
		}
		.video-group {
			max-height: 0;
			overflow: hidden;
			transition: max-height 1s;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background: $background-color;
			.cta {
				.group-1 {
					font-family: Montserrat-Bold;
					font-size: 52px;
					color: $white;
					line-height: 60px;
					text-align: center;
					margin: auto;
					padding-top: 159px;
					max-width: 980px;
				}
				.group-2 {
					font-family: PTSerif-Regular;
					font-size: 26px;
					color: #CDDFE0;
					line-height: 33px;
					text-align: center;
				}
				.group-3 {
					margin-top: 56px;
					text-align: center;
					.button {
						border: 1px solid $white;
						border-radius: 40px;
						font-family: Montserrat-Bold;
						font-size: 10px;
						color: $white;
						letter-spacing: 2px;
						line-height: 12px;
						padding: 15px 45px;
						background: transparent;
						box-shadow: none;
						-moz-appearance: none;
						-webkit-appearance: none;
						&:focus {
							border: 1px solid $text-color;
						}
						&:hover {
							background: $text-color;
							color: $background-color;
						}
					}
				}
			}
			.video {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				text-align: center;
				video {
					min-width: 100%;
					min-height: 100%;
					width: auto;
					height: auto;
				}
			}
		}
	}
	.top-0 & {
		.main {
			.top {
				max-height: 0;
				border: none;
			}
			.bottom {
				.left {
					ul.menu {
						li {
							a {
								color: $white;
							}
						}
					}
					.sm &,
					.xs & {
						display: none;
					}
				}
				.right {
					border-left: 1px solid $white;
					.icon {
						width: 29px;
						&.search {
							background-image: url('imgs/icon_search_white.svg');
						}
						&.hamburger {
							background-image: url('imgs/icon_hamburger_white.svg');
						}
					}
				}
			}
			.video-group {
				max-height: 2000px;
			}
		}
	}
}
