.module.module_13 {
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
	padding: 0;
	position: relative;
	background: white;
	.xs & {
		border-radius: 0;
		height: auto;
		border-bottom: #eeeeee 1px solid;
	}
	.category {
		position: absolute;
		top: 20px;
		left: 20px;
	}
	.image {
		height: 170px;
		overflow: hidden;
		text-align: center;
		.xs & {
			height: auto;
		}
		img {
			width: 100%;
		}
	}
	.content {
		padding: 25px 20px 0;
		.title {
			font-family: Montserrat-Bold;
			font-size: 15px;
			color: #3B3D40;
			line-height: 18px;
			@include showline(2, 36px);
		}
		.description {
			font-family: PTSerif-Regular;
			font-size: 14px;
			color: #838D8F;
			line-height: 18px;
			padding: 10px 0 20px;
			@include showline(2, 46px);
		}
	}
}
