.module_1 {
	> .module_content {
		.xs &,
		.sm & {
			border-radius: 0;
		}
		.main {
			.xs &,
			.sm & {
				top: 0;
			}
			> .slide {
				> .cta {
					left: 62px;
					position: absolute;
					top: 259px;
					right: 530px;
					z-index: 2;
					.sm &,
					.xs & {
						margin: 0;
						top: 20px;
						left: 30px;
						right: 30px;
					}
					> .group_1 {
						margin-bottom: 16px;
						> .button {
							background: #6B3DE4;
							border-radius: 3px;
							font-family: Montserrat-Bold;
							font-size: 10px;
							display: inline-block;
							color: $white;
							letter-spacing: 1px;
							line-height: 12px;
							text-align: center;
							padding: 3px 5px;
						}
						.sm &,
						.xs & {
							margin-bottom: 10px;
						}
					}
					> .group_2 {
						font-family: Montserrat-Bold;
						font-size: 52.94px;
						color: $white;
						line-height: 55px;
						letter-spacing: -1.3px;
						.sm &,
						.xs & {
							font-size: 23.7px;
							line-height: 21px;
						}
					}
					> .group_3 {
						font-family: PTSerif-Regular;
						font-size: 20.51px;
						color: #CEDFE1;
						line-height: 26px;
						margin: 17px 0 32px;
						height: 30px;
						.sm &,
						.xs & {
							font-size: 10px;
							line-height: 15px;
							margin: 8px 0;
						}
					}
					> .group_4 {
						> .button_left {
							display: inline-block;
							font-family: Montserrat-Bold;
							font-size: 10px;
							color: $white;
							letter-spacing: 2px;
							line-height: 12px;
							border: 1px solid rgba(206, 223, 225, 0.6);
							border-radius: 40px;
							background: url('imgs/icon_photos.svg') 21px 9px no-repeat;
							padding: 10px 30px 10px 64px;
							cursor: pointer;
						}
						> .button_right {
							background: #6848E1;
							border-radius: 40px;
							display: inline-block;
							font-family: Montserrat-Bold;
							font-size: 10px;
							color: $white;
							letter-spacing: 2px;
							line-height: 12px;
							padding: 10px 20px;
							margin-left: 10px;
							cursor: pointer;
						}
						.sm &,
						.xs & {
							display: none;
						}
					}
				}
				> .background {
					z-index: 0;
					text-align: center;
					overflow: hidden;
					.sm &,
					.xs & {
						height: auto;
					}
					> .cover {
						opacity: 0.6;
						background: #3C3D41;
						border-radius: 0;
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					> img {
						min-height: 635px;
						min-width: 100%;
						.xs &,
						.sm & {
							min-height: 0;
							width: 100%;
						}
					}
				}
			}
		}
		.panel {
			border-radius: 0;
			bottom: 0;
			margin-bottom: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 240px;
			z-index: 10;
			.xs &,
			.sm & {
				bottom: 13px;
				background: none;
				left: 0;
				top: auto;
				height: 35px;
				overflow: hidden;
				text-align: center;
				width: 100%;
				.carousel-indicators {
					bottom: auto;
				}
			}
			.md &,
			.lg & {
				.carousel-indicators {
					bottom: auto;
					left: 0;
					width: 100%;
					margin-left: 0;
					text-align: left;
					.active {
						width: auto;
					}
				}
			}
			> .title {
				font-family: Montserrat-Bold;
				font-size: 11px;
				letter-spacing: 2px;
				line-height: 13px;
				padding: 20px 28px;
				color: #656C83;
				a {
					color: #656C83;
				}
				.xs &,
				.sm & {
					display: none;
				}
			}
			> .module_1--item {
				> .slide {
					padding: 30px 0 0 0;
					height: 108px;
					border-top: 1px solid #EEEEEE;
					cursor: pointer;
					overflow: hidden;
					.xs &,
					.sm & {
						border: none;
						font-size: 0;
						display: inline-block;
						width: 9px;
						height: 9px;
						border-radius: 8px;
						background-color: white;
						padding: 0;
					}
					&.active,
					&:hover {
						background: #F9F9F9;
						position: relative;
						.sm &,
						.xs & {
							background: #3d8bdd;
						}
						&:before {
							border-right: #F9F9F9 8px solid;
							border-top: transparent 8px solid;
							border-bottom: transparent 8px solid;
							width: 8px;
							height: 16px;
							position: absolute;
							left: -8px;
							top: 46%;
							content: '';
							.sm &,
							.xs & {
								display: none;
							}
						}
					}
					&:active {
						cursor: auto;
					}
					&:nth-child(1) > .icon > .background {
						background: #6B3DE4;
					}
					&:nth-child(2) > .icon > .background {
						background: #007AC2;
					}
					&:nth-child(3) > .icon > .background {
						background: #3CA773;
					}
					&:nth-child(4) > .icon > .background {
						background: #D9A34A;
					}
					&:nth-child(5) > .icon > .background {
						background: #EA8BFF;
					}
					> .icon {
						float: left;
						width: 30%;
						.sm &,
						.xs & {
							display: none;
						}
						> .background {
							text-align: center;
							margin: auto;
							border-radius: 33px;
							width: 33px;
							height: 33px;
							> img {
								display: inline-block;
								line-height: 33px;
							}
						}
					}
					> .content {
						float: left;
						width: 70%;
						.sm &,
						.xs & {
							display: none;
						}
						> .category {
							font-family: Montserrat-Bold;
							font-size: 10px;
							letter-spacing: 1px;
							line-height: 12px;
							color: $grey-text;
							@include noselect();
						}
						> .title {
							font-family: PTSerif-Regular;
							font-size: 14px;
							line-height: 18px;
							color: #656B6F;
							@include noselect();
						}
					}
				}
			}
			> .more {
				border-top: 1px solid #EEEEEE;
				position: absolute;
				bottom: -1px;
				font-family: Montserrat-Bold;
				font-size: 10px;
				letter-spacing: 2px;
				line-height: 12px;
				right: -1px;
				width: 240px;
				text-align: center;
				background-color: $white;
				padding: 14px 0;
				color: $grey-text;
				a {
					color: $grey-text;
				}
				.xs &,
				.sm & {
					display: none;
				}
			}
		}
	}
}
