.module_6 {
	> .module_content {
		> .title {
			border-bottom: #eeeeee 1px solid;
			color: #3B3D40;
			font-family: Montserrat-Bold;
			font-size: 11px;
			letter-spacing: 2px;
			line-height: 13px;
			padding: 18px;
			text-align: center;
			text-transform: uppercase;
			.sm &,
			.xs & {
				background: url(imgs/icon_flag.svg) no-repeat;
				background-position: right 30px top 0;
				background-size: 14px;
				border: none;
				font-size: 18px;
				padding-bottom: 10px;
				padding-top: 23px;
				text-transform: none;
			}
		}
		.module_6--feature {
			padding: 20px 15px 19px;
			border-bottom: #eeeeee 1px solid;
			.sm &,
			.xs & {
				padding: 0 50px 20px;
			}
			.title {
				font-family: PTSerif-Regular;
				font-size: 14px;
				line-height: 18px;
				color: #838C8E;
				.sm &,
				.xs & {
					font-size: 12px;
					line-height: 15px;
					text-align: center;
				}
				a {
					color: #838C8E;
				}
			}
		}
		.module_6--item {
			border-bottom: #eeeeee 1px solid;
			padding: 26px 0;
			.sm &,
			.xs & {
				border: none;
				padding: 22px 0;
			}
			.title {
				font-family: PTSerif-Regular;
				font-size: 16px;
				line-height: 18px;
				text-align: center;
				width: 160px;
				margin: auto;
				color: #666E70;
				.sm &,
				.xs & {
					font-family: Montserrat-Bold;
					width: 100%;
					padding: 0 30px;
					font-size: 18px;
					line-height: 24px;
				}
				a {
					color: #666E70;
				}
			}
			.hr-line {
				border-top: #DDDDDD 1px solid;
				height: 1px;
				width: 20px;
				margin: 15px auto;
			}
			.author {
				width: 124px;
				margin: auto;
				.sm &,
				.xs & {
					width: 178px;
				}
				.avatar {
					width: 30px;
					border-radius: 30px;
					overflow: hidden;
					float: left;
					margin-right: 12px;
					.sm &,
					.xs & {
						width: 68px;
					}
					img {
						width: 100%;
					}
				}
				.info {
					width: 82px;
					float: left;
					.name {
						font-family: Montserrat-Bold;
						font-size: 10px;
						letter-spacing: 2px;
						line-height: 12px;
						color: #3B3D40;
						.sm &,
						.xs & {
							font-size: 15px;
							line-height: 19px;
							padding-top: 6px;
						}
						a {
							color: #3B3D40;
						}
					}
					.position {
						font-family: PTSerif-Regular;
						font-size: 12px;
						color: #858585;
						line-height: 15px;
					}
				}
			}
		}
		#module_6--carousel {
			padding-bottom: 40px;
			position: relative;
			.carousel-indicators {
				li {
					background-color: #474747;
					width: 11px;
					height: 11px;
					&.active {
						background-color: #ea5b39;
						width: 11px;
						height: 11px;
						margin: 1px;
					}
				}
			}
		}
	}
}
