.module_5 {
	> .module_content {
		> .title {
			font-family: Montserrat-Bold;
			font-size: 11px;
			color: #3B3D40;
			letter-spacing: 2px;
			line-height: 12px;
			padding: $padding-vertical $padding-horizontal;
			border-bottom: #eeeeee 1px solid;
			text-transform: uppercase;
			.sm &,
			.xs & {
				text-transform: none;
				padding-left: 30px;
			}
			.xs & {
				font-size: 17px;
			}
		}
		.module_5--feature {
			background: #F9F9F9;
			padding: $padding-vertical $padding-horizontal;
			border-bottom: #eeeeee 1px solid;
			.sm &,
			.xs & {
				padding: 0;
			}
			.image {
				float: left;
				width: 44%;
				border-radius: 4px;
				overflow: hidden;
				.sm &,
				.xs & {
					border-radius: 0;
				}
				img {
					width: 100%;
				}
			}
			.content {
				float: left;
				width: 56%;
				.time {
					font-family: PTSerif-Italic;
					font-size: 12px;
					color: #AAAAAA;
					line-height: 15px;
					background: url(imgs/icon_clock.svg) 23px 0 no-repeat;
					padding: 0 0 8px 42px;
					.sm &,
					.xs & {
						display: none;
					}
				}
				.title {
					font-family: Montserrat-Bold;
					font-size: 15px;
					line-height: 18px;
					padding: 0 0px 8px 22px;
					.sm &,
					.xs & {
						padding: 18px 15px 0;
					}
					.xs & {
						font-size: 12px;
						line-height: 15px;
					}
					a {
						color: #3B3D40;
					}
				}
				.description {
					font-family: PTSerif-Regular;
					font-size: 14px;
					color: #838C8E;
					line-height: 18px;
					padding: 0 0px 8px 22px;
					.sm &,
					.xs & {
						padding: 7px 15px;
					}
					.xs & {
						font-size: 10px;
						line-height: 12px;
					}
				}
			}
		}
		.module_5--item {
			padding: 14px 0;
			border-bottom: #eeeeee 1px solid;
			.sm &,
			.xs & {
				border-top: #eeeeee 1px solid;
				border-bottom: none;
			}
			.time {
				font-family: PTSerif-Italic;
				font-size: 12px;
				color: #AAAAAA;
				line-height: 15px;
				padding: 0 10px 0 40px;
				background: url(imgs/icon_clock.svg) 21px 2px no-repeat;
				float: left;
				width: 118px;
				.sm &,
				.xs & {
					background-position: 13px 0;
				}
				.xs & {
					width: 95px;
					font-size: 10px;
					line-height: 12px;
				}
			}
			.title {
				font-family: PTSerif-Regular;
				font-size: 13px;
				line-height: 17px;
				.xs & {
					font-size: 10px;
					line-height: 12px;
				}
				a {
					color: #666D70;
				}
			}
		}
	}
}
