.module.module_9 {
	background: #FF5A60;
	text-align: center;
	padding-bottom: 20px;
	.group {
		font-family: Montserrat-Regular;
		font-size: 30.39px;
		color: rgba(255, 255, 255, 0.94);
		line-height: 57.45px;
		white-space: nowrap;
		margin: auto;
		display: inline-block;
		text-align: left;
		.xs & {
			font-size: 20px;
			padding-top: 20px;
			padding-bottom: 20px;
			line-height: 37px;
		}
		.sm & {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.select_group {
			display: inline-block;
			border-bottom: #4D1F09 2px dashed;
			position: relative;
			cursor: pointer;
			.selected {
				color: #4D1F09;
			}
			ul.list {
				position: absolute;
				list-style-type: none;
				overflow: hidden;
				max-height: 0;
				background: #48CFAD;
				z-index: 5;
				top: -50px;
				padding: 0;
				transition: max-height .3s;
				-moz-transition: max-height .3s;
				-webkit-transition: max-height .3s;
				&.active {
					max-height: 500px;
				}
				li {
					padding: 0 15px;
					font-family: Montserrat-Regular;
					font-size: 30.39px;
					color: rgba(255, 255, 255, 0.57);
					line-height: 57.45px;
					&:hover {
						background-color: #37BC9B;
					}
					&.active {
						color: #4D1F09;
						background: url(imgs/icon_checked.svg) right 15px top 15px no-repeat;
						padding-right: 55px;
					}
				}
			}
		}
		.button_groups {
			.xs & {
				text-align: center;
			}
			.button {
				background-color: #48CFAD;
				display: inline-block;
				height: 48px;
				position: relative;
				margin-top: 20px;
				border-radius: 3px;
				.xs & {
					margin: 16px auto;
					width: 210px;
					height: 28px;
					border-radius: 28px;
				}
				.icon {
					background: url(imgs/icon_right_arrow.svg) center no-repeat #37BC9B;
					height: 48px;
					left: 0;
					position: absolute;
					top: 0;
					width: 45px;
					.xs & {
						height: 28px;
						border-radius: 28px;
						width: 40px;
					}
				}
				button {
					-webkit-appearance: none;
					-moz-appearance: none;
					background: transparent;
					border: none;
					color: #FFFFFF;
					display: block;
					font-family: Montserrat-Regular;
					font-size: 18px;
					line-height: 48px;
					height: 48px;
					outline: none;
					padding: 0 10px 0 55px;
					text-transform: uppercase;
					width: 100%;
					.xs & {
						font-size: 12px;
						line-height: 28px;
						height: 28px;
						margin: auto;
						display: block;
					}
				}
			}
		}
	}
}
