.module.module_26 {
	display: table;
	background: white;
	padding-top: 25px;
	.sm & {
		padding-top: 25px;
	}
	.comments {
		display: table-cell;
		vertical-align: top;
		width: 280px;
		padding: 0 60px;
		.xs & {
			display: block;
			width: 100%;
			padding: 0 20px;
			margin-bottom: 20px;
		}
		.item {
			margin-top: 20px;
			img {
				width: 100%;
			}
			.description {
				margin-top: 20px;
				font-family: PTSerif-Regular;
				font-size: 12.46px;
				color: #666D70;
				line-height: 18px;
			}
			.author {
				margin-top: 20px;
				background: url(imgs/icon_round_play.svg) 0 3px no-repeat;
				line-height: 22px;
				padding-left: 30px;
				height: 26px;
				a {
					font-family: PTSerif-Regular;
					font-size: 12px;
					color: #666D70;
				}
			}
		}
	}
	.content {
		display: table-cell;
		vertical-align: top;
		padding-right: 125px;
		.xs & {
			display: block;
			width: 100%;
			padding: 0 20px;
		}
		.sm & {
			padding-right: 20px;
		}
		h2 {
			font-family: Montserrat-Bold;
			font-size: 22.84px;
			color: #3B3D40;
			line-height: 28px;
			.xs & {
				font-size: 15px;
				line-height: 22px;
			}
		}
		p {
			font-family: PTSerif-Regular;
			font-size: 18.77px;
			color: #666D70;
			line-height: 27px;
			.xs & {
				font-size: 12px;
				line-height: 15px;
			}
		}
		.quote {
			border-top: #DDDDDD 1px solid;
			border-bottom: #DDDDDD 1px solid;
			font-family: PTSerif-Regular;
			font-size: 33.14px;
			color: #3B3D40;
			line-height: 43px;
			padding: 30px 0;
			margin: 40px 0;
			.xs & {
				font-size: 20px;
				line-height: 30px;
				padding: 20px 0;
				margin: 30px 0;
			}
		}
		.tags {
			margin-top: 60px;
			.button {
				display: block;
				float: left;
				border: 1px solid #DDDDDD;
				border-radius: 4px;
				font-family: Montserrat-Bold;
				font-size: 9px;
				color: #838D8F;
				letter-spacing: 1.79px;
				line-height: 18px;
				margin-right: 10px;
				margin-bottom: 10px;
				height: 18px;
				padding: 0 7px;
				&:hover {
					background: #333333;
					color: white;
					text-decoration: none;
				}
			}
		}
		.social {
			margin: 30px 0;
			.button {
				height: 33px;
				line-height: 33px;
				border-radius: 33px;
				width: 145px;
				float: left;
				text-transform: uppercase;
				text-align: center;
				display: block;
				margin-right: 12px;
				padding-top: 10px;
				&:hover {
					text-decoration: none;
				}
				&.like {
					border: 1px solid #EDEDED;
					border-radius: 20px;
					font-family: Montserrat-Bold;
					font-size: 10px;
					color: #666666;
					letter-spacing: 1.79px;
					line-height: 12px;
					position: relative;
					background: url(imgs/icon_heart.svg) 15px 10px no-repeat #FFFFFF;
					.count {
						position: absolute;
						background: #B8C6C7;
						border-radius: 10px;
						right: 10px;
						top: 10px;
						padding: 0 5px;
						color: white;
					}
				}
				&.facebook {
					background: url(imgs/icon_facebook_white.svg) 20px 10px no-repeat #225B99;
					font-family: Montserrat-Bold;
					font-size: 10px;
					color: #FFFFFF;
					letter-spacing: 1.79px;
					line-height: 12px;
					.xs & {
						width: 45px;
						font-size: 0;
						background-position: center;
					}
					.sm & {
						width: 120px;
					}
				}
				&.twitter {
					background: url(imgs/icon_twitter_white.svg) 20px 12px no-repeat #00ADF2;
					font-family: Montserrat-Bold;
					font-size: 10px;
					color: #FFFFFF;
					letter-spacing: 1.79px;
					line-height: 12px;
					.xs & {
						width: 45px;
						font-size: 0;
						background-position: center;
					}
					.sm & {
						width: 120px;
					}
				}
			}
		}
	}
}
