.module.module_7 {
	> .module_content {
		background-color: #3C3D41;
		border-radius: 0;
		padding: 4px 0 8px;
		.title {
			font-family: Montserrat-Bold;
			font-size: 10px;
			text-align: center;
			color: white;
		}
		ul.content {
			text-align: center;
			padding: 0;
			margin: -4px 0 4px;
			li {
				list-style-type: none;
				display: inline-block;
				background-size: auto 20px !important;
				&.facebook {
					background: url(imgs/footer_facebook.svg) center no-repeat;
				}
				&.twitter {
					background: url(imgs/footer_twitter.svg) center no-repeat;
				}
				&.instagram {
					background: url(imgs/footer_instagram.svg) center no-repeat;
				}
				&.rss {
					background: url(imgs/footer_rss.svg) center no-repeat;
				}
				a {
					display: block;
					width: 50px;
					height: 30px;
				}
			}
		}
	}
}
