.module.module_22 {
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
	padding: 0;
	position: relative;
	background: #3C3D41;
	.category {
		position: absolute;
		top: 10px;
		left: 20px;
	}
	.image {
		height: 170px;
		overflow: hidden;
		text-align: center;
		img {
			width: 100%;
		}
	}
	.content {
		text-align: center;
		.title {
			font-family: Montserrat-Bold;
			font-size: 15px;
			color: #FFFFFF;
			line-height: 18px;
			padding-top: 25px;
			@include showline(2, 61px);
		}
		.button {
			font-family: Montserrat-Bold;
			font-size: 10px;
			color: #666666;
			letter-spacing: 1.79px;
			border: #5F6467 1px solid;
			border-radius: 20px;
			position: relative;
			background: transparent;
			height: 32px;
			display: -webkit-flex;
			display: flex;
			margin: 16px auto;
			padding: 0;
			width: 180px;
			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
			.price {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				font-family: Montserrat-Regular;
				font-size: 13px;
				color: #FFFFFF;
				line-height: 30px;
				padding: 0 15px 0 20px;
				text-align: center;
				border-right: #5F6467 1px solid;
			}
			.buy {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				background: url(imgs/icon_cart_grey.svg) 10px 10px no-repeat;
				background-position: 10px center;
				padding: 0 20px 0 25px;
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #FFFFFF;
				letter-spacing: 1.1px;
				line-height: 30px;
				text-align: center;
			}
		}
	}
}
