.module.module_22 {
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
	padding: 0;
	position: relative;
	background: #3C3D41;
	.xs & {
		border-radius: 0;
		height: auto;
	}
	.category {
		position: absolute;
		top: 10px;
		left: 20px;
	}
	.image {
		height: 170px;
		overflow: hidden;
		text-align: center;
		.xs & {
			height: auto;
		}
		img {
			width: 100%;
		}
	}
	.content {
		text-align: center;
		.title {
			font-family: Montserrat-Bold;
			font-size: 15px;
			color: #FFFFFF;
			line-height: 18px;
			padding-top: 25px;
			@include showline(2, 61px);
		}
		.button {
			font-family: Montserrat-Bold;
			font-size: 10px;
			color: #666666;
			letter-spacing: 1.79px;
			border: #5F6467 1px solid;
			border-radius: 20px;
			position: relative;
			background: transparent;
			height: 32px;
			margin: 16px auto;
			padding: 0;
			width: 180px;
			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
			.price {
				float: left;
				width: 100px;
				height: 30px;
				font-family: Montserrat-Regular;
				font-size: 13px;
				color: #FFFFFF;
				line-height: 30px;
				padding: 0 15px 0 20px;
				text-align: center;
				border-right: #5F6467 1px solid;
			}
			.buy {
				float: left;
				width: 70px;
				background-position: 10px center;
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #FFFFFF;
				letter-spacing: 1.1px;
				line-height: 30px;
				text-align: center;
				margin-left: 50%;
				transform: translateX(-35px);
			}
		}
	}
}
