.module.module_25 {
	position: relative;
	padding: 0;
	.background {
		img {
			width: 100%;
		}
	}
	.content {
		position: absolute;
		top: 30px;
		left: 30px;
		background: #FDFDFD;
		border-radius: 4px;
		padding: 30px;
		width: 210px;
		.xs & {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			border-bottom: #ddd 1px solid;
		}
		.title {
			font-family: PTSerif-Italic;
			font-size: 16.53px;
			color: #6C6C70;
			line-height: 22px;
			.xs & {
				font-size: 15px;
				line-height: 22px;
			}
		}
		.description {
			margin-top: 30px;
			font-family: PTSerif-Regular;
			font-size: 12.26px;
			color: #838D8F;
			line-height: 17px;
			.xs & {
				font-size: 12px;
				line-height: 15px;
			}
		}
		.close {
			position: absolute;
			top: 6px;
			left: 187px;
			a {
				color: #838D8F;
				font-size: 12px;
			}
			.xs & {
				display: none;
			}
		}
	}
}
