.module.module_16 {
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
	padding: 0;
	position: relative;
	.category {}
	.image {
		img {}
	}
	.content {
		.title {}
		.button {
			.count {}
		}
	}
}
