.module_4 {
	> .module_content {
		background-position: top left;
		background-size: cover;
		background-repeat: no-repeat;
		> .content {
			float: left;
			padding: $padding-vertical 225px $padding-vertical $padding-horizontal;
			min-height: 293px;
			.sm &,
			.xs & {
				padding: 24px 90px 13px 20px;
				min-height: 0;
			}
			> .category {
				float: left;
				margin-bottom: 16px;
				> img {
					margin-right: 10px;
				}
				.sm &,
				.xs & {
					display: none;
				}
			}
			.title {
				font-family: Montserrat-Bold;
				font-size: 22px;
				line-height: 27px;
				margin-bottom: 10px;
				color: #3C3D41;
				a {
					color: #3C3D41;
					@include showmaxline(3, 81px);
				}
				.xs & {
					font-size: $mb-fontsize-title;
					line-height: $mb-lineheight-title;
					margin-bottom: 5px;
				}
			}
			.description {
				font-family: PTSerif-Regular;
				font-size: 14px;
				color: #818A8C;
				line-height: 18px;
				margin-bottom: 30px;
				@include showmaxline(2, 36px);
				.xs & {
					font-size: $mb-fontsize-content;
					line-height: $mb-lineheight-content;
					margin-bottom: 14px;
				}
			}
			> .button {
				opacity: 0.6;
				border: 1px solid #E1E1E1;
				border-radius: 40px;
				padding: 9px 35px 9px 68px;
				margin-bottom: 10px;
				float: left;
				background: url(imgs/icon_photos.svg) 21px 8px no-repeat;
				text-transform: uppercase;
				.sm &,
				.xs & {
					background: #454545;
					padding: 4px 17px;
				}
				.xs & {
					text-transform: none;
				}
				.readmore {
					font-family: Montserrat-Bold;
					font-size: 10px;
					color: #3C3D41;
					letter-spacing: 2px;
					line-height: 12px;
					.sm &,
					.xs & {
						color: white;
					}
				}
			}
		}
		.image {
			float: left;
			width: 46%;
			padding: $padding-vertical $padding-horizontal;
			img {
				width: 100%;
			}
		}
	}
}
