.module_3 {
	> .module_content {
		> .title {
			font-family: Montserrat-Bold;
			font-size: 11px;
			border-bottom: #EEEEEE 1px solid;
			color: #3B3D40;
			letter-spacing: 2px;
			line-height: 13px;
			padding: 18px 30px;
			background: url(imgs/icon_flag.svg) no-repeat;
			background-position: right 30px top -2px;
			text-transform: uppercase;
			.green & {
				background-image: url(imgs/icon_flag--green.svg);
			}
			.sm &,
			.xs & {
				background-position: right 30px top 0;
				border: none;
				padding-bottom: 0;
				padding-top: 28px;
				background-size: 14px;
			}
			.xs & {
				font-size: 18px;
				text-transform: none;
			}
		}
		.module_3--feature {
			padding: 18px 20px;
			.sm &,
			.xs & {
				padding: 18px 30px;
				border: none;
			}
			.image {
				width: 100%;
				border-radius: 4px;
				overflow: hidden;
				.lg &,
				.md & {
					max-height: 141px;
				}
				.sm &,
				.xs & {
					border-radius: 0;
				}
				img {
					width: 100%;
				}
			}
			.category {
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #838C8D;
				letter-spacing: 1px;
				line-height: 12px;
				margin-top: 18px;
				text-transform: uppercase;
				.xs & {
					text-transform: none;
				}
				a {
					color: #838C8D;
				}
			}
			.title {
				font-family: Montserrat-Bold;
				font-size: 15px;
				color: #3A3D3F;
				line-height: 18px;
				margin-top: 11px;
				a {
					color: #3A3D3F;
					@include showline(3, 54px);
				}
			}
		}
		.module_3--item {
			border-top: #EEEEEE 1px solid;
			padding: 17px 20px 16px;
			.sm &,
			.xs & {
				padding: 18px 30px;
				border: none;
			}
			.image {
				img {
					width: 100%;
				}
			}
			.category {
				font-family: Montserrat-Bold;
				font-size: $mb-stories-fontsize-title;
				line-height: $mb-stories-lineheight-title;
				letter-spacing: 1px;
				color: #838C8D;
				text-transform: uppercase;
				.sm &,
				.xs & {
					margin-top: 18px;
				}
				.xs & {
					text-transform: none;
				}
				a {
					color: #838D8F;
				}
			}
			.title {
				font-family: PTSerif-Regular;
				font-size: 13.14px;
				line-height: 22.39px;
				margin-top: 3px;
				color: $grey-text;
				@include showline(2, 44px);
				.sm &,
				.xs & {
					margin-top: 5px;
				}
				a {
					color: #838D8F;
					.sm &,
					.xs & {
						color: #3A3D3F;
					}
					.xs & {
						font-family: Montserrat-Bold;
						font-size: $mb-stories-fontsize-title;
						line-height: $mb-stories-lineheight-title;
					}
				}
			}
		}
		#module_3--carousel {
			padding-bottom: 40px;
			position: relative;
			.carousel-indicators {
				li {
					background-color: #474747;
					width: 11px;
					height: 11px;
					&.active {
						background-color: #ea5b39;
						width: 11px;
						height: 11px;
						margin: 1px;
					}
				}
			}
		}
	}
}

.lg,
.md {
	.fixed_height .module_3.module.child_module {
		padding: 0;
		> .module_content {
			height: 620px;
			overflow: hidden;
			position: relative;
			.module_3--feature .title a {
				@include showline(2, 36px);
			}
			.module_3--item {
				display: none;
				padding: 14px 20px;
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					display: block;
					.title a {
						@include showline(2, 44px);
					}
				}
			}
		}
	}
}
