.module.module_15 {
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
	padding: 0;
	position: relative;
	background: #FF5A60;
	.xs & {
		border-radius: 0;
		height: auto;
	}
	.grey & {
		background: #434A54;
	}
	.purple & {
		background: #967ADC;
	}
	.category {
		position: absolute;
		top: 20px;
		left: 20px;
		margin-left: -12px;
		.button {
			background: none;
		}
	}
	.title {
		font-family: Montserrat-Bold;
		font-size: 22px;
		color: #FFFFFF;
		line-height: 27px;
		padding: 50px 20px 10px;
		@include showline(4, 160px);
	}
	.date {
		opacity: 0.5;
		font-family: PTSerif-Italic;
		font-size: 12px;
		color: #FFFFFF;
		line-height: 18px;
		padding: 0 20px 0 36px;
		background: url(imgs/icon_clock.svg) 20px center no-repeat;
		background-size: 12px;
		margin-top: 8px;
	}
	.contact {
		display: table;
		width: 100%;
		margin: 50px 20px 20px;
		.avatar {
			width: 50px;
			height: 50px;
			border-radius: 50px;
			overflow: hidden;
			display: table-cell;
			img {
				width: 100%;
			}
		}
		.detail {
			display: table-cell;
			padding-left: 15px;
			vertical-align: middle;
			.by {
				opacity: 0.5;
				font-family: PTSerif-Italic;
				font-size: 12px;
				color: #FFFFFF;
				line-height: 15px;
				margin-bottom: 4px;
			}
			.name {
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #FFFFFF;
				letter-spacing: 2px;
				line-height: 12px;
				@include showline(2, 24px);
				max-width: 70%;
			}
		}
	}
}
