// Home Advertisement start
.adv
	.cta
		.group_1
			.button
				| Sleep
		.group_2
			| A Montreal secret you haven’t heard of?
		.group_3
			| This helps us make sure you get the right answer as fast as possible
	.background
		img.img-responsive(src="imgs/home--adv.png")
// Home Advertisement end