.area_4--item
	.title
		| 5 Things Every Man Should Know About This Week
	.author
		.avatar
			img.img-responsive(src="imgs/home--area_4--avatar.png")
		.info
			.name
				| ANNA OSTYANKO
			.position
				| Store manager
