// Home Area 2 -- 2 Feature start
.area_2--2--feature
	.image
		img.img-responsive(src="imgs/home--area_3--feature.png")
	.content
		.time
			| July 18th
		.title
			| VisitMTL celebrates the launch of the new site
		.title
			| Justin Bieber accused of attempted robbery, LAPD says what you say
// Home Area 2 -- 2 Feature end