.area_2
	.content
		.category
			img.img-responsive(src="imgs/sandwich.svg")
			| EAT
		.title
			| 5 Things you can’t miss when hitting Montreal restaurants
		.description
			| Peter Dinklage’s porn ‘tache, Jennifer Lawrence’s brilliance and more. Some (tiny) spoilers ahead
		.button
			.readmore
				| READ MORE
	.image
		img.img-responsive(src="imgs/home--area_2--photo.png")
