// Home Area 1 Feature start
.area_1--feature
	.image
		img.img-responsive(src="imgs/home--area_1--feature.png")
	.category
		| Nature
	.title
		| Pictures: 10 Green-Tech City Solutions for Beating the Heat
// Home Area 1 Feature end