// Home Area 3 Item start
.area_3--item
	.title
		| 5 Things Every Man Should Know About This Week
	.author
		.avatar
			img.img-responsive(src="imgs/home--area_3--avatar.png")
		.info
			.name
				| ANNA OSTYANKO
			.position
				| Store manager
// Home Area 3 Item end