.banner(style="background-image:url('imgs/home-banner-background.png')")
	.main
		.cta
			.group-1
				.button
					| GET HERE
			.group-2
				| Winter is not for everyone...
			.group-3
				| Whether it’s Montreal winter hub or Switzerland’s mountain majesty, these go-now destinations will send you packing.
			.group-4
				.button
					| MORE TRAVEL
				.right
					| MORE TRAVEL
		.panel
			.panel-header
				| CURRENTLY TRENDING
			include banner-panel-item.jade

