// Page Eat/Play list start
.page.page--event--list
	.area_1
		.blue
			include ../modules/module_8
	.area_2
		include ../modules/module_29
		include ../modules/module_33
		include ../modules/module_25--1
		include ../modules/module_34
// Page Eat/Play list end