// Page Contact start
.page.page--contact
	.area_1
		.darkblue
			include ../modules/module_8
	.area_2
		.darkblue
			include ../modules/module_40
	.area_3
		include ../modules/module_41
// Page Contact end