// Page Eat/Play start
.page.page--event
	.area_1
		.blue
			include ../modules/module_8
	.area_2
		include ../modules/module_11
	.area_3
		.area_3--1
			include ../modules/module_31
		.area_3--3.hidden-lg.hidden-md.hidden-xs
			include ../modules/module_15
		.area_3--2
			include ../modules/module_5
		.area_3--3.hidden-sm
			include ../modules/module_15
		.clearfix
// Page Eat/Play end