// Page Feed start
.page.page--feed
	.area_1
		.blue
			include ../modules/module_8
	.area_3
		.area_2--1
			include ../modules/module_35
		.area_2--2
			include ../modules/module_36
		.area_2--3
			include ../modules/module_37
		.clearfix
// Page Feed end