// Page Get Here Story start
.page.page--get_here--story
	.area_1
		include ../modules/module_23
	.area_2
		.purple
			include ../modules/module_24
	.area_3
		include ../modules/module_25
	.area_4
		include ../modules/module_26
	.area_5
		include ../modules/module_27
		.clearfix
// Page Get Here Story end