.page-home
	include ../modules/home/banner.jade
	include ../modules/home/adv.jade
	include ../modules/home/area_1.jade
	include ../modules/home/area_2.jade
	include ../modules/home/area_3.jade
	include ../modules/home/area_4.jade