// Page Home start
.page-home
	.area_1
		include ../modules/module_1
	.area_2
		include ../modules/module_2
	.area_3
		include ../modules/module_3
	.area_4
		.area_4_1
			include ../modules/module_4
		.area_4_2
			include ../modules/module_5
	.area_5
		include ../modules/module_6
	.clearfix
// Page Home end