// Page Home start
.page.page--home
	.area_1
		include ../modules/module_1
	.area_4
		.area_4--1.hidden-lg.hidden-md
			include ../modules/module_4
	.area_2
		include ../modules/module_2
	.area_3
		include ../modules/module_3
	.area_4
		.area_4--1.hidden-sm.hidden-xs
			include ../modules/module_4
		.area_4--2
			include ../modules/module_5
	.hidden-lg.hidden-md
		include ../modules/module_7
	.area_5
		include ../modules/module_6
	.clearfix
// Page Home end