// Page Multimedia start
.page.page--multimedia
	.area_1
		.darkblue
			include ../modules/module_8
	.area_2
		include ../modules/module_35
	.area_3
		.control
			.area_3-next
			.area_3_prev
		.list
			.area_3--1
				.purple
					include ../modules/module_36
			.area_3--1
				.gold
					include ../modules/module_36
			.area_3--1
				.darkblue
					include ../modules/module_37
			.area_3--1
				.pink
					include ../modules/module_36
			.area_3--1
				.purple
					include ../modules/module_36
	.area_3
		.control
			.area_3-next
			.area_3_prev
		.list
			.area_3--1
				.blue
					include ../modules/module_36
			.area_3--1
				.darkblue
					include ../modules/module_38
			.area_3--1
				.purple
					include ../modules/module_36
			.area_3--1
				.blue
					include ../modules/module_36
			.area_3--1
				.blue
					include ../modules/module_36
	.area_3
		.control
			.area_3-next
			.area_3_prev
		.list
			.area_3--1
				.pink
					include ../modules/module_36
			.area_3--1
				.green
					include ../modules/module_36
			.area_3--1
				.gold
					include ../modules/module_36
			.area_3--1
				.green
					include ../modules/module_36
			.area_3--1
				.pink
					include ../modules/module_36
		.clearfix
// Page Multimedia end