// Page Sleep start
.page.page--sleep
	.area_1
		include ../modules/module_18
	.area_2.green
		include ../modules/module_8
	.area_3
		.area_3--1
			include ../modules/module_19
		.area_3--2
			include ../modules/module_20
		.area_3--3
			include ../modules/module_21
	.area_2
		include ../modules/module_12
	.area_3
		.area_3--1
			.area_3--1--1
				include ../modules/module_15
			.area_3--1--2
				include ../modules/module_13
			.area_3--1--3
				include ../modules/module_14
		.area_3--2
			.area_3--2--1
				include ../modules/module_22
			.area_3--2--2
				include ../modules/module_17
		.area_3--3
			include ../modules/module_3
// Page Sleep end