ul
	li
		a(href="index.html", target="_blank") Home
	li
		a(href="about.html", target="_blank") About
	li
		a(href="author.html", target="_blank") Author
	li
		a(href="eat_play--list.html", target="_blank") Eat Play List
	li
		a(href="eat_play.html", target="_blank") Eat Play
	li
		a(href="eat.html", target="_blank") Eat
	li
		a(href="event--list.html", target="_blank") Event List
	li
		a(href="event.html", target="_blank") Event
	li
		a(href="get_here.html", target="_blank") Get Here
	li
		a(href="get_here--story.html", target="_blank") Get Here Story
	li
		a(href="list.html", target="_blank") List
	li
		a(href="sleep.html", target="_blank") Sleep