.page--eat_play {
	> .area_1 {
		width: 100%;
	}
	> .area_2 {
		width: 100%;
	}
	> .area_3 {
		padding: 20px 10px 10px;
	}
	> .area_4 {
		padding: 10px;
	}
	> .area_5 {
		padding: 0 0 10px;
		.area_5--1 {
			width: 75%;
			float: left;
			.area_5--1--1 {
				float: left;
				width: 33.333333%;
				padding: 10px;
			}
			.area_5--1--2 {
				float: left;
				width: 33.333333%;
				padding: 10px;
			}
			.area_5--1--3 {
				float: left;
				width: 33.333333%;
				padding: 10px;
			}
			.area_5--1--4 {
				float: left;
				width: 33.333333%;
				padding: 10px;
			}
			.area_5--1--5 {
				float: left;
				width: 66.666667%;
				padding: 10px;
			}
		}
		.area_5--2 {
			width: 25%;
			float: left;
			padding: 10px;
			.module.child_module {
				padding: 0;
			}
		}
	}
}
