.page--event {
	> .area_1 {
		width: 100%;
	}
	> .area_2 {
		padding: 20px 20px 10px;
		.xs & {
			padding: 0;
		}
	}
	> .area_3 {
		padding: 0 10px 10px;
		.xs & {
			padding: 0;
		}
		.area_3--1 {
			float: left;
			width: 25%;
			padding: 10px;
			.module.module_31 {
				height: 430px;
				.xs & {
					height: auto;
				}
			}
			.xs & {
				width: 100%;
				float: none;
				padding: 0;
			}
			.sm & {
				width: 50%;
			}
		}
		.area_3--2 {
			float: left;
			width: 50%;
			padding: 10px;
			.module.child_module {
				padding: 0;
				> .module_content {
					height: 430px;
					.xs & {
						height: auto;
					}
				}
			}
			.xs & {
				width: 100%;
				float: none;
				padding: 0;
			}
			.sm & {
				width: 100%;
				.module.child_module {
					> .module_content {
						height: auto;
					}
				}
			}
		}
		.area_3--3 {
			float: left;
			width: 25%;
			padding: 10px;
			.module.module_15 {
				height: 430px;
				.xs & {
					height: auto;
				}
			}
			.xs & {
				width: 100%;
				float: none;
				padding: 0;
			}
			.sm & {
				width: 50%;
			}
		}
	}
}
