.page-home {
	> .area_1 {
		width: 100%;
	}
	> .area_2 {
		margin-top: 15px;
		width: 100%;
	}
	> .area_3 {
		float: left;
		padding: 23px 16px 22px;
		width: 262px;
	}
	> .area_4 {
		float: left;
		width: 500px;
		padding: 0 11px;
		> .area_4--1 {
			padding: 23px 0 20px;
			width: 100%;
		}
		> .area_4--2 {
			padding: 0 0 22px;
			width: 100%;
		}
	}
	> .area_5 {
		float: left;
		padding: 23px 16px 22px;
		width: 262px;
	}
}
