footer {
	background: #fff;
	> .area_1.area {
		> .group_1 {
			float: left;
			width: 253px;
		}
		> .group_2 {
			float: left;
			width: 283px;
			.line {
				.col_1 {
					a {}
				}
				.col_2 {
					a {}
				}
			}
		}
		> .group_3 {
			float: left;
			width: 163px;
			.title {
				ul.content {
					li.facebook {}
					li.twitter {}
					li.instagram {}
					li.rss {}
				}
			}
		}
		> .group_4 {
			float: left;
			width: 325px;
			.title {}
			.description {}
			.form {
				.input {
					input {}
				}
				.button {
					button.email {}
				}
			}
		}
	}
	> .area_2.area {
		> .group_1 {
			float: left;
			width: 253px;
		}
		> .group_2 {
			float: left;
			width: 283px;
		}
		> .group_3 {
			float: left;
			width: 163px;
		}
		> .group_4 {
			float: left;
			width: 325px;
			.form {
				.input {
					input {}
				}
				.button {
					button.search {}
				}
			}
		}
	}
	> .area_3 {
		iframe {}
	}
	> .area_4 {
		.copyright {
			float: left;
			width: 50%;
		}
		ul.menu {
			float: left;
			width: 50%;
			li {
				a {}
			}
		}
	}
}
