.page-home {
	> .banner {
		height: 635px;
		overflow: hidden;
		position: relative;
		width: 100%;
		border-radius: 4px;
		> .main {
			> .slide {
				> .cta {
					margin: 259px 530px 0 62px;
					position: relative;
					z-index: 2;
					> .group_1 {
						margin-bottom: 16px;
						> .button {
							background: #6B3DE4;
							border-radius: 3px;
							font-family: Montserrat-Bold;
							font-size: 10px;
							display: inline-block;
							color: #FFFFFF;
							letter-spacing: 1px;
							line-height: 12px;
							text-align: center;
							padding: 3px 5px;
						}
					}
					> .group_2 {
						font-family: Montserrat-Bold;
						font-size: 52.94px;
						color: #FFFFFF;
						line-height: 55px;
						letter-spacing: -1.3px;
					}
					> .group_3 {
						font-family: PTSerif-Regular;
						font-size: 20.51px;
						color: #CEDFE1;
						line-height: 26px;
						margin: 17px 0 32px;
					}
					> .group_4 {
						> .button_left {
							display: inline-block;
							font-family: Montserrat-Bold;
							font-size: 10px;
							color: #FFFFFF;
							letter-spacing: 2px;
							line-height: 12px;
							border: 1px solid rgba(206, 223, 225, 0.6);
							border-radius: 40px;
							background: url('imgs/icon_photos.svg') 21px 9px no-repeat;
							padding: 10px 30px 10px 64px;
							cursor: pointer;
						}
						> .button_right {
							background: #6848E1;
							border-radius: 40px;
							display: inline-block;
							font-family: Montserrat-Bold;
							font-size: 10px;
							color: #FFFFFF;
							letter-spacing: 2px;
							line-height: 12px;
							padding: 10px 20px;
							margin-left: 10px;
							cursor: pointer;
						}
					}
				}
				> .background {
					left: 0;
					position: absolute;
					text-align: center;
					top: 0;
					right: 240px;
					z-index: 0;
					> .cover {
						opacity: 0.6;
						background: #3C3D41;
						border-radius: 0;
						position: absolute;
						z-index: 1;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					> img {
						min-height: 635px;
						min-width: 100%;
					}
				}
			}
		}
		> .panel {
			border-radius: 0;
			bottom: 0;
			margin-bottom: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 240px;
			> .title {
				font-family: Montserrat-Bold;
				font-size: 11px;
				color: #656C83;
				letter-spacing: 2px;
				line-height: 13px;
				border-bottom: 1px solid #EEEEEE;
				padding: 20px 28px
			}
			> .banner--item {
				> .slide {
					border-bottom: 1px solid #EEEEEE;
					> .icon {
						float: left;
						width: 30%;
						padding: 23px 19px;
					}
					> .content {
						float: left;
						width: 70%;
						padding-top: 23px;
						padding-bottom: 20px;
						> .category {
							font-family: Montserrat-Bold;
							font-size: 10px;
							color: #838D8F;
							letter-spacing: 1px;
							line-height: 12px;
						}
						> .title {
							font-family: PTSerif-Regular;
							font-size: 14px;
							color: #656B6F;
							line-height: 18px;
						}
					}
				}
			}
			> .more {
				border-top: 1px solid #EEEEEE;
				position: absolute;
				bottom: -1px;
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #838D8F;
				letter-spacing: 2px;
				line-height: 12px;
				right: -1px;
				width: 240px;
				text-align: center;
				background-color: #fff;
				padding: 14px 0;
			}
		}
	}
	> .adv {
		width: 100%;
		height: 313px;
		overflow: hidden;
		position: relative;
		> .cta {
			position: absolute;
			> .group_1 {
				> .button {}
			}
			> .group_2 {}
			> .group_3 {}
		}
		> .background {}
	}
	.area_1 {
		float: left;
		margin: 19px 16px 22px;
		width: 230px;
		background: #fff;
		border-radius: 4px;
		.title {
			font-family: Montserrat-Bold;
			font-size: 11px;
			color: #3B3D40;
			letter-spacing: 2px;
			line-height: 13px;
		}
		.area_1--feature {
			padding: 15px 20px 20px;
			.image {
				width: 100%;
			}
			.category {
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #838C8D;
				letter-spacing: 1px;
				line-height: 12px;
			}
			.title {
				font-family: Montserrat-Bold;
				font-size: 15px;
				color: #3A3D3F;
				line-height: 18px;
			}
		}
		.area_1--item {
			.category {
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #838C8D;
				letter-spacing: 1px;
				line-height: 12px;
			}
			.title {
				font-family: PTSerif-Regular;
				font-size: 13.14px;
				color: #838D8F;
				line-height: 22.39px;
			}
		}
	}
	.area_2 {
		float: left;
		width: 478px;
		margin: 0 11px;
		.area_2--1 {
			background: #fff;
			margin: 19px 0 22px;
			border-radius: 4px;
			.content {
				.category {}
				.title {
					font-family: Montserrat-Bold;
					font-size: 22px;
					color: #3C3D41;
					line-height: 27px;
				}
				.description {
					font-family: PTSerif-Regular;
					font-size: 14px;
					color: #818A8C;
					line-height: 18px;
				}
				.button {
					opacity: 0.6;
					border: 1px solid #E1E1E1;
					border-radius: 40px;
					.readmore {
						font-family: Montserrat-Bold;
						font-size: 10px;
						color: #3C3D41;
						letter-spacing: 2px;
						line-height: 12px;
					}
				}
			}
			.image {
				padding: 20px 25px;
			}
		}
		.area_2--2 {
			background: #fff;
			border-radius: 4px;
			margin: 19px 0 22px;
			.title {
				font-family: Montserrat-Bold;
				font-size: 11px;
				color: #3B3D40;
				letter-spacing: 2px;
				line-height: 12px;
			}
			.area_2--2--feature {
				background: #F9F9F9;
				.image {
					float: left;
					width: 190px;
				}
				.content {
					.time {
						font-family: PTSerif-Italic;
						font-size: 12px;
						color: #AAAAAA;
						line-height: 15px;
					}
					.title {
						font-family: Montserrat-Bold;
						font-size: 15px;
						color: #3B3D40;
						line-height: 18px;
					}
					.title {
						font-family: PTSerif-Regular;
						font-size: 14px;
						color: #838C8E;
						line-height: 18px;
					}
				}
			}
			.area_2--2--item {
				.time {
					font-family: PTSerif-Italic;
					font-size: 12px;
					color: #AAAAAA;
					line-height: 15px;
				}
				.title {
					font-family: PTSerif-Regular;
					font-size: 13px;
					color: #666D70;
					line-height: 17px;
				}
			}
			.more {
				font-family: Montserrat-Bold;
				font-size: 10px;
				color: #838C8D;
				letter-spacing: 2px;
				line-height: 12px;
			}
		}
	}
	.area_3 {
		float: left;
		margin: 19px 16px 22px;
		width: 230px;
		background: #fff;
		border-radius: 4px;
		.title {
			font-family: Montserrat-Bold;
			font-size: 11px;
			color: #3B3D40;
			letter-spacing: 2px;
			line-height: 13px;
		}
		.area_3--feature {
			.title {
				font-family: PTSerif-Regular;
				font-size: 14px;
				color: #838C8E;
				line-height: 18px;
			}
		}
		.area_3--item {
			.title {
				font-family: PTSerif-Regular;
				font-size: 16px;
				color: #666E70;
				line-height: 18px;
			}
			.author {
				.avatar {
					width: 30px;
					border-radius: 30px;
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				.info {
					.name {
						font-family: Montserrat-Bold;
						font-size: 10px;
						color: #3B3D40;
						letter-spacing: 2px;
						line-height: 12px;
					}
					.position {
						font-family: PTSerif-Regular;
						font-size: 12px;
						color: #858585;
						line-height: 15px;
					}
				}
			}
		}
		.more {
			font-family: Montserrat-Bold;
			font-size: 10px;
			color: #838C8D;
			letter-spacing: 2px;
			line-height: 12px;
		}
	}
}
