// Common
@import 'common/font';
@import 'common/color';
@import 'common/variables';
body {
	font-family: PTSerif-Regular;
	font-size: 18.66px;
	color: $text-color;
	line-height: 27px;
	background: $background-color;
	display: none;
	transition: $menu-pushed-transition;
	* {
		box-sizing: border-box !important;
		&:focus {
			outline: none;
		}
	}
	> .container {
		width: $container-width;
		padding-left: 0;
		padding-right: 0;
	}
	&.sm,
	&.xs {
		.container {
			width: 100%;
		}
	}
	&.sm,
	&.xs,
	&.md,
	&.lg {
		display: block;
	}
	&.pushed {
		margin-left: -$menu-pushed;
		margin-right: $menu-pushed;
	}
	.module {
		width: 100%;
		padding: $gap-vertical 0;
		&.child_module {
			padding: $gap-vertical $gap-horizontal;
			.more {
				line-height: 12px;
				text-align: center;
				padding: 9px;
				a {
					font-family: Montserrat-Bold;
					font-size: 10px;
					color: #838C8D;
					letter-spacing: 2px;
				}
			}
		}
		> .module_content {
			width: 100%;
			border-radius: 4px;
			background-color: #ffffff;
			overflow: hidden;
			position: relative;
		}
	}
}

.page {
	margin-top: $header-height;
}

a {
	&.hover-blue:hover,
	&.hover-blue:focus {
		color: #387AC2 !important;
		text-decoration: none;
	}
}

// Modules
@import 'modules/header';
@import 'modules/footer';
@import 'modules/module_1';
@import 'modules/module_2';
@import 'modules/module_3';
@import 'modules/module_4';
@import 'modules/module_5';
@import 'modules/module_6';
// Pages
@import 'pages/home';
