@mixin noselect() {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

@mixin showline($line, $height) {
	.sm &,
	.md &,
	.lg & {
		-webkit-line-clamp: $line;
		-moz-line-clamp: $line;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		display: -moz-box;
		height: $height;
	}
}

@mixin showlinexs($line, $height) {
	.xs & {
		-webkit-line-clamp: $line;
		-moz-line-clamp: $line;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		display: -moz-box;
		height: $height;
	}
}

@mixin showmaxline($line, $height) {
	.md &,
	.lg & {
		-webkit-line-clamp: $line;
		-moz-line-clamp: $line;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		display: -webkit-box;
		max-height: $height;
	}
}
