$container-width: 1080px;
$header-height: 128px;
$header-height-mobile: 60px;
$gap-vertical: 9px;
$gap-horizontal: 15px;
$padding-vertical: 18px;
$padding-horizontal: 20px;
$menu-pushed-transition: all .3s;
$mb-fontsize-title: 22px;
$mb-lineheight-title: 24px;
$mb-fontsize-content: 13px;
$mb-lineheight-content: 15px;
$mb-event-fontsize-title: 13px;
$mb-event-lineheight-title: 15px;
$mb-event-fontsize-content: 12px;
$mb-event-lineheight-content: 14px;
$mb-stories-fontsize-title: 14px;
$mb-stories-lineheight-title: 15px;