// Header start
header
	.main
		.top
			.social
				a.icon.facebook(href='#')
				a.icon.twitter(href='#')
				a.icon.rss(href='#')
			.signin
				a.button(href='#')
					| SIGN IN
		.bottom
			.left
				ul.menu
					li
						a(href='#') About
					li
						a(href='#') Media
					li
						a(href='#') Events
					li
						a(href='#') MTLStories
					li
						a(href='#') Your Stories
			.right
				a.icon.search(href='#').action-search
				a.icon.hamburger(href='#').action-hamburger
				.hamburger-menu#hamburger
					.icon
						a(href='#').action-hamburger
							img(src="imgs/icon_hamburger_white.svg")
					.title VisitMTL Menu
					ul.menu
						li
							a(href="#")
								.icon
									img(src="imgs/icon_map_marker.svg")
								| Get here
						li
							a(href="#")
								.icon
									img(src="imgs/icon_sandwich.svg")
								| Eat
						li
							a(href="#")
								.icon
									img(src="imgs/icon_bed.svg")
								| Sleep
						li
							a(href="#")
								.icon
									img(src="imgs/icon_glass.svg")
								| Play
						li
							a(href="#")
								.icon
									img(src="imgs/icon_buy.svg")
								| Buy stuff
		.video-group
			.cta
				.group-1
					| Get here. Eat. Sleep.
					br
					| Play &amp; buy stuff
				.group-2
					| Come binge on your favourite pastime,
					br
					| and meet some cool people while you’re at it.
				.group-3
					button(type="button").button TAKE A TOUR
			.video
				video(control="true" autoplay="true")
					source(src="http://www.w3schools.com/html/mov_bbb.mp4", type="video/mp4")
					source(src="http://www.w3schools.com/html/mov_bbb.ogg", type="video/ogg")
// Header end