//- Header
header
	.main
		.top
			.social
				a.icon.facebook(href='#')
				a.icon.twitter(href='#')
				a.icon.rss(href='#')
			.signin
				a.button(href='#')
					| SIGN IN
		.bottom
			.left
				ul.menu
					li
						a(href='#') About
					li
						a(href='#') Media
					li
						a(href='#') Events
					li
						a(href='#') MTLStories
					li
						a(href='#') Your Stories
			.right
				a.icon.search(href='javscript:show(\'search\')')
				a.icon.hamburger(href='javscript:show(\'hamburger\')')
