// Header start
header
	.main
		.top
			.social
				a.icon.facebook(href='javascript:')
				a.icon.twitter(href='javascript:')
				a.icon.rss(href='javascript:')
			.signin
				a.button(href='javascript:')
					| SIGN IN
		.bottom
			.left
				ul.menu
					li
						a.hover-blue(href='javascript:') About
					li
						a.hover-blue(href='javascript:') Media
					li
						a.hover-blue(href='javascript:') Events
					li
						a.hover-blue(href='javascript:') Articles
					li
						a.hover-blue(href='javascript:') Your Stories
			.right
				a.icon.search(href='javascript:').action-search
				a.icon.hamburger(href='javascript:').action-hamburger
		if page_home
			.video-group
				.cta
					.group-1
						| Get here. Eat. Sleep.
						br
						| Play &amp; buy stuff
					.group-2
						| Come binge on your favourite pastime,
						br
						| and meet some cool people while you’re at it.
					.group-3
						button(type="button").button#view-more TAKE A TOUR
				.video#bg-video
					video(controls="true", autoplay="true")
						source(src="http://www.w3schools.com/html/mov_bbb.mp4", type="video/mp4")
						source(src="http://www.w3schools.com/html/mov_bbb.ogg", type="video/ogg")
include menu_hamburger
// Header end