.menu_hamburger#hamburger
	.main
		.main_container
			ul.group-1
				li.bch--1
					a(href="javascript:")
						.icon.bc--1
							img(src="imgs/icon_map_marker.svg")
						| Get here
				li.bch--2
					a(href="javascript:")
						.icon.bc--2
							img(src="imgs/icon_sandwich.svg")
						| Eat
				li.bch--3
					a(href="javascript:")
						.icon.bc--3
							img(src="imgs/icon_bed.svg")
						| Sleep
				li.bch--4
					a(href="javascript:")
						.icon.bc--4
							img(src="imgs/icon_glass.svg")
						| Play
				li.bch--5
					a(href="javascript:")
						.icon.bc--5
							img(src="imgs/icon_buy.svg")
						| Buy stuff
			.group-2
				.image
					img(src="http://lorempixel.com/228/126/food/")
				.title 
					a(href="javascript:;") The real deal: big taste in small plates
				.description Figuring out how our brains work is key to nderstanding
			.group-3
				.category
					a(href="javascript:;") Latest Articles
				.title
					a(href="javascript:;") 5 Thing you should Know about this Week in Montreal
				.contact
					.avatar
						img(src="http://lorempixel.com/52/52/people/")
					.info
						.name
							a(href="javascript:;") Marc Menabney
						.role Visitmtl Blogger
					.clearfix
				.more
					a(href="javascript:;") More Articles
			.group-4
				.category
					a(href="javascript:;") Weekly Deals
				.image
					img(src="imgs/icon_bestrestaurant.png")
				.title
					a(href="javascript:;") Aliquam quis magna nunc. Cras nec ullamcorper.
				.more
					a(href="javascript:;") More Deals
			.clearfix
	.cover#menu_cover