// Module 3 Feature start
.module_3--feature.mobile_carousel--item
	.image
		img.img-responsive(src="http://lorempixel.com/728/460/city/")
	.category
		a.hover-blue(href="javascript:") Nature
	.title
		a.hover-blue(href="javascript:") Pictures: 10 Green-Tech City Solutions for Beating the Heat
// Module 3 Feature end