.module.module_22
	.category.original_category.red
		a(href="javascript:").button
			| Delicious
	.image
		img(src="http://lorempixel.com/400/300/food/")
	.content
		.title
			| Exclusively on VisitMTL
		button.button
			.price $1,578
			.buy Buy