// Module 1 start

.module.module_1
	.module_content
		include module_1--slide

	//- ol.carousel-indicators
	//- 	li(data-target="#banner--slide", data-slide-to="0").active
	//- 	li(data-target="#banner--slide", data-slide-to="1")
	//- 	li(data-target="#banner--slide", data-slide-to="2")

// Module 1 end