.item.item--1
	.image
		img(src="http://lorempixel.com/210/70/city/")
	.address
		.title
			i.fa.fa-map-marker
			| Airport Mirabel
		.description
			| 1468 Rue Crescent
			br
			| Montreal QC H3G 2B6

	.weather
		.title Lorem Ipsum/ Lorem
		.content
			div
				| Monday - 
				span.color 50% OFF
			div Tuesday 11:30am to 3pm
			div
				| Friday - 
				span.color 50% DE RABAIS
			div Tous les jour 11:30am to 3pm


	include module_12--item--cover
