.module.module_8
	.group_1
		.txt Article
	.group_2
		.title Monthly Newsletter
		.description Subscribe to our email newsletter for useful tips and valuable resources
	.group_3
		.form
			.input
				input(type="text", placeholder="E-mail")
			.button
				button.right_arrow
	.clearfix