// Module 5 Feature start
.module_5--feature
	.image
		img.img-responsive(src="http://lorempixel.com/188/120/people/")
	.content
		.time
			| July 18th
		.title
			a.hover-blue(href="javascript:") VisitMTL celebrates the launch of the new site
		.description
			| Justin Bieber accused of attempted robbery, LAPD says what you say
	.clearfix
// Module 5 Feature end