// Module 1 Item start
mixin panel_item
	.icon
		img.img-responsive(src="imgs/module_1--icon.svg")
	.content
		.category
			a(href="#") GET HERE
		.title
			a(href="#") Must See Places of the New Year
	.clearfix
		
.panel
	.title
		| CURRENTLY TRENDING
	.module_1--item.carousel-indicators
		each val in [1, 2, 3, 4, 5, 6]
			if val == 1
				.slide(id="banner--slide_#{val}",  data-target="#banner--slide", data-slide-to="#{val-1}").active
					+ panel_item
			else
				.slide(id="banner--slide_#{val}",  data-target="#banner--slide", data-slide-to="#{val-1}")
					+ panel_item
	.more
		a(href="#") MORE
// Module 1 Item end