.module.module_26
	.comments.hidden-xs
		include module_26--comment
	.content
		h2 History
		p Lake Montreal was situated in the northern territory of the Xiongnu confederation, and was a site of the Han–Xiongnu War, where the armies of the Han dynasty pursued and defeated the Xiongnu forces from the second century BC to the first century AD. They recorded that the lake was a “huge sea” (hanhai) and designated it the North Sea of the semimythical Four Seas. 
		.quote The first Russian explorer to reach Lake Montreal was Kurbat Ivanov in 1643
		p The Kurykans, a Siberian tribe who inhabited the area in the sixth century, gave it a name that translates to “much water”. Later on, it was called “natural lake” (Baygal nuur) by the Buryats and “rich lake” (Bay göl) by the Yakuts. Little was known to Europeans about the lake until Russia expanded into the area in the 17th century. The first Russian explorer to reach Lake Baikal was Kurbat Ivanov in 1643.
		.tags
			a(href="javascript:").button TRAVEL
			a(href="javascript:").button VisitMTL
			a(href="javascript:").button LAKE
			.clearfix
		.social
			a(href="javascript:").button.like
				| Like
				.count 2
			a(href="javascript:").button.facebook Share
			a(href="javascript:").button.twitter Tweet
			.clearfix
	.comments.hidden-lg.hidden-md.hidden-sm
		include module_26--comment