.items
	.content
		.article
			.image
				img.img-responsive(src="http://lorempixel.com/80/80/people/")
			.detail
				.title Assomoir Notre-Dam
				.description Smoked meat, pasta, sandwiches, and buffet-style fare served up in a family-friendly atmosphere
				.neigborhoud Neigborhoud: Downtown
		.clearfix
	.clearfix
