// Module 6 Item start
.module_6--item
	.title
		a.hover-blue(href="javascript:") 5 Things Every Man Should Know About This Week
	.hr-line
	.author
		.avatar
			img.img-responsive(src="http://lorempixel.com/30/30/people/")
		.info
			.name
				a.hover-blue(href="javascript:") ANNA OSTYANKO
			.position
				| Store manager
		.clearfix
// Module 6 Item end