// Module 6 Item start
.module_6--item
	.title
		| 5 Things Every Man Should Know About This Week
	.author
		.avatar
			img.img-responsive(src="imgs/home--area_3--avatar.png")
		.info
			.name
				| ANNA OSTYANKO
			.position
				| Store manager
// Module 6 Item end