.module.module_24
	.category.original_category
		a(href="javascript:").button
			| Get Here
	.title
		.title_content
			| The city is informally known
			br
			| as the “Capital of Siberia”
	.detail
		.date June 11, 2015 9:26 pm
		.clearfix.hidden-lg.hidden-sm.hidden-md
		.social
			.comment 12
			.love 54
		.share
			a(href="javascript:").button 93 shares
	.content
		.author
			.card
				.avatar
					img(src="http://lorempixel.com/105/105/people/")
				.name
					| ANNA
					br
					| OSTYANKO
				.position Senior Editor
				.social
					a(href="javascript:").button.facebook
					a(href="javascript:").button.twitter
					a(href="javascript:").button.instagram
				.all
					a(href="javascript:") All Posts
		.description
			.intro Montreal is the freshwater lake with greatest volume in the world, containing roughly 20% of the world's unfrozen surface fresh water, and at 1,642 m, the deepest. 
			h2 Wildlife
			p In total there are less than 60 native fish species in the lake, but more than half of these are endemic. The families Abyssocottidae (deep-water sculpins), Comephoridae (golomyankas or Baikal oilfish) and Cottocomephoridae (Montreal sculpins), and the subfamily Cottinae (part of the cottid family) are entirely restricted to the lake basin.
			h4 Invertebrates
			p The lake hosts rich endemic fauna of invertebrates. Epischura baikalensis is endemic to Lake Baikal and the dominating zooplankton species there, making up 80 to 90% of total biomass.