.module.module_35
	.module_container
		.content
			.video-group
				.cta
					.group-1
						| Montreal. Vieux port de montreal
					.group-2
						| PLAYLIST
					.group-3
						ul.list
							li
								include module_35--item
							li
								include module_35--item
							li
								include module_35--item
				.video#bg-video
					video(controls="true", autoplay="true")
						source(src="http://www.w3schools.com/html/mov_bbb.mp4", type="video/mp4")
						source(src="http://www.w3schools.com/html/mov_bbb.ogg", type="video/ogg")
			.new-video
				.title New Video
				ul.list
					li
						include module_35--item
					li
						include module_35--item
					li
						include module_35--item
					li
						include module_35--item
					li
						include module_35--item
