.module.module_31
	.image
		img(src="http://lorempixel.com/400/400/food/")
	.content
		.title The real deal: big taste in small plates
		.description Figuring out how our brains work is key to understanding 
		.readmore
			a.button Read More