.module.module_41
	.contact-form
		.input-area-1
			input.form-input(value="Name", name="name")
		.input-area-1
			input.form-input(value="Email", name="email")
		.input-area-1
			input.form-input(value="Subject", name="subject")
		.clearfix
		.input-area-2
			textarea.form-input(name="message") Message
		.input-area-3
			button.form-input
				| Send
				i.fa.fa-chevron-right
	.clearfix