// Module 4 start
.module.child_module.module_4
	.module_content(style="background-image:url('imgs/module_4--photo.png')")
		.content
			.category
				img(src="imgs/sandwich.svg")
				| EAT
			.clearfix
			.title
				a.hover-blue(href="javascript:") 5 Things you can’t miss when hitting Montreal restaurants
			.description
				| Peter Dinklage’s porn ‘tache, Jennifer Lawrence’s brilliance and more. Some (tiny) spoilers ahead
			a.hover-blue(href="javascript:").button
				.readmore
					| Read more
		.clearfix
// Module 4 end