.module.module_8
	.group_1
		.img
			img(src="imgs/module_1--icon_2.svg")
		.txt Eat
	.group_2
		.title Monthly Newsletter
		.description Subscribe to our email newsletter for useful tips and valuable resources
	.group_3
		.form
			.input
				input(type="text", placeholder="E-mail")
			.button
				button.right_arrow
	.clearfix