.module.module_36
	.background
		img(src="imgs/lorem_multimedia_item.png")
	.description
		.original_category
			.button Get here
		.icon.icon-camera
		.clearfix
		.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae risus eu dolor sagittis mattis id quis leo. Donec fringilla ante eu tellus eleifend, eget pretium ligula maximus. Aliquam bibendum id augue et iaculis. Duis dignissim urna quam, non cursus ante pretium a. Pellentesque rho
