// Module 5 start
.module.child_module.module_5
	.module_content
		.title
			| Events
		include module_5--feature
		each val in [1, 2, 3]
			include module_5--item

		.more
			a.hover-blue(href="javascript:") More Events
// Module 5 end