.module.module_21
	.content
		.category.original_category
			a(href="javascript:").button
				| Sleep
		.title
			| 5 Things We Learned about traveling light... 
			br
			| It's worth it!
		.description Peter Dinklage's porn ‘tache, Jennifer Lawrence's brilliance and more. Some (tiny) spoilers ahead
		butotn.more_button MORE