.module.module_19
	.image
		img(src="http://lorempixel.com/300/300/city/")
	.content
		.category.original_category.green
			a(href="javascript:").button
				| Find
		a(href="javascript")
			img(src="imgs/icon_camera.svg")
		.title Hotel gem 5 minutes walk from downtown