.module.module_14
	.category.original_category
		a(href="javascript:").button
			| Eat
	.image
		img(src="http://lorempixel.com/400/300/food/")
	.content
		.title The real deal: big taste in small plates
		.description Figuring out how our brains work is key to understanding 
		.detail
			.message 12
			.love 54