// Module 2 start
.module.module_32
	.module_content.author-bg
		.cta
			.group_1
				a.hover-blue.white(href="javascript:") Lena River
			.group_2.white
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
		.avatar(style="background-image:url(http://lorempixel.com/400/400/people/)")
// Module 2 end