.item
	.image
		img(src="imgs/aeroports_de_montreal.png")
	.content
		a.title(href="javascript:") Airport Mirabel
		.price
			.original $290
			.discount $190
		.description Fly for 30% off the regular price
		.address 12300 Rue Services A-4, Mirabel