// Module 4 start
.module_4
	.content
		.category
			img(src="imgs/sandwich.svg")
			| EAT
		.clearfix
		.title
			| 5 Things you can’t miss when hitting Montreal restaurants
		.description
			| Peter Dinklage’s porn ‘tache, Jennifer Lawrence’s brilliance and more. Some (tiny) spoilers ahead
		.button
			.readmore
				| READ MORE
	.image
		img.img-responsive(src="imgs/module_4--photo.png")
	.clearfix
// Module 4 end