.module.module_22
	.category.original_category
		a(href="javascript:").button
			| Delicious
	.image
		img(src="http://lorempixel.com/400/300/food/")
	.content
		.title
			| Exclusively on VisitMTL
		button.button
			.buy Read More