.module.module_18
	.background
		img(src="http://lorempixel.com/1920/1000/nightlife/")
	form(action="#")
		.group_1
			a.button(href="javascript:")
				.icon
					i.fa.fa-plane
				| Flights
			a.button(href="javascript:")
				.icon
					i.fa.fa-building
				| Hotels
			a.button(href="javascript:")
				.icon
					i.fa.fa-plane
					| &nbsp;
					i.fa.fa-building
				| Flights + Hotels
			a.button(href="javascript:")
				.icon
					i.fa.fa-suitcase
				| Vacation
			a.button(href="javascript:")
				.icon
					i.fa.fa-car
				| Cars
			a.button(href="javascript:")
				.icon
					i.fa.fa-ship
				| Cruises
			a.button(href="javascript:")
				.icon
					i.fa.fa-list-alt
				| Things to do
		.clearfix
		.group_2
			.group_2--1
				.title Going to
				.input
					.icon
						i.fa.fa-map-marker
					input(placeholder="Destination, airport, train station, landmark or address")
			.clearfix
			.group_2--2
				.group_2--2--1.input_group
					.title Check in
					.input
						.icon
							i.fa.fa-calendar
						input(placeholder="dd/mm/yyyy")
				.group_2--2--2.input_group
					.title Check out
					.input
						.icon
							i.fa.fa-calendar
						input(placeholder="dd/mm/yyyy")
				.clearfix.hidden-lg.hidden-md.hidden-sm
				.group_2--2--3.input_group
					.title Rooms
					.input
						input(placeholder="2")
				.group_2--2--4.input_group
					.title Adults
					.input
						input(placeholder="2")
				.group_2--2--5.input_group
					.title Children(0-17)
					.input
						input(placeholder="0")
			.group_2--3
				.group_2--3--child
					label.checkbox
						input(type="checkbox")
						span
							.icon
								i.fa.fa-plane
							| Add a flight
				.group_2--3--child
					label.checkbox
						input(type="checkbox")
						span
							.icon
								i.fa.fa-car
							| Add a car
			.clearfix
			.group_2--4
				button.button(type="submit")
					.icon
						i.fa.fa-search
					| Search

