// Module 3 Feature start
.module_3--feature
	.image
		img.img-responsive(src="http://lorempixel.com/190/120/city/")
	.category
		a(href="#") NATURE
	.title
		a(href="#") Pictures: 10 Green-Tech City Solutions for Beating the Heat
// Module 3 Feature end