// Module 4 start
.module.child_module.module_4
	.module_content(style="background-image:url('http://lorempixel.com/600/400/people/')")
		.content
			.category.original_category.blue
				a(href="javascript:").button
					img(src="imgs/sandwich.svg")
					| Eat
			.clearfix
			.title.mobile_ellipsis--2
				a.hover-blue(href="javascript:") 5 Things you can't miss when hitting Montreal restaurants
			.description.mobile_ellipsis--2
				| Peter Dinklage's porn ‘tache, Jennifer Lawrence's brilliance and more. Some (tiny) spoilers ahead
			a.hover-blue.button(href="javascript:")
				.readmore
					| Read more
		.clearfix
// Module 4 end