.module.module_17
	.category.original_category
		a(href="javascript:").button
			| Reciepe
	.image
		img(src="http://lorempixel.com/800/500/food/")
	.content
		.title
			| The chefs at Green Cafe share a little secret…
		.button
			button(onclick="javascript:") $69
			button.cart(onclick="javascript:")
				img(src="imgs/icon_cart_grey.svg")
				| Read More