.module.module_9
	.group
		| I feel like eating
		.select_group
			.selected any food 
			ul.list
				li.active(val="1") any food
				li(val="2") Indian
				li(val="3") French
				li(val="4") Chinese
				li(val="5") Quebec
		|  around 
		.select_group
			.selected anywhere
			ul.list
				li.active(val="1") anywhere
				li(val="2") Indian
				li(val="3") French
				li(val="4") Chinese
				li(val="5") Quebec
		br
		| and spend 
		.select_group
			.selected less then 20 bucks
			ul.list
				li.active(val="1") less then 20 bucks
				li(val="2") less then 50 bucks
				li(val="3") less then 100 bucks
		.clearfix
		.button
			.icon
			button
				| Find a restaurant