// Module 2 start
.module.module_2
	.module_content
		.cta
			.group_1.original_category.green
				a(href="javascript:").button
					| Sleep
			.group_2
				a.hover-blue(href="javascript:") A Montreal secret you haven’t heard of?
			.group_3
				| This helps us make sure you get the right answer as fast as possible
		.background(style="background-image:url(http://lorempixel.com/1080/313/city/)")
// Module 2 end