// Module 2 start
.module_2
	.cta
		.group_1
			.button
				| SLEEP
		.group_2
			| A Montreal secret you haven’t heard of?
		.group_3
			| This helps us make sure you get the right answer as fast as possible
	.background
		img.responsive(src="http://lorempixel.com/1024/313/city/")
// Module 2 end