// Module 3 Item start
.module_3--item
	.category
		a.hover-blue(href="javascript:") EXPLORERS
	.title
		a.hover-blue(href="javascript:") Kaytranada Channels Dilla, Embraces Up-Tempo Neo-Soul
// Module 3 Item end