.module.module_16
	.category.original_category.red
		a(href="javascript:").button
			| Delicious
	.image
		img(src="http://lorempixel.com/400/300/food/")
	.content
		.title
			| Planning an event?
			br
			| Check cupOcake
		.button
			| READ
			.count 2