// Module 3 Feature start
.module_3--feature
	.image
		img.img-responsive(src="http://lorempixel.com/190/120/city/")
	.category
		a.hover-blue(href="javascript:") NATURE
	.title
		a.hover-blue(href="javascript:") Pictures: 10 Green-Tech City Solutions for Beating the Heat
// Module 3 Feature end