.item
	.contact
		.avatar
			img(src="http://lorempixel.com/80/80/people/")
	.content
		.name Anna Ostyanko
		.date June 11, 2015 9:26 pm
		.description Unlike pop-culture’s current obsession with bleak, heavy drama (Game Of Thrones, Breaking Bad, we’re talking to you)
		.reply
			a(href="javascript:") Reply