// Module 3 start
.module_3
	.title
		| MTL STORIES
	include module_3--feature
	each val in [1, 2, 3, 4]
		include module_3--item
	.more
		a.hover-blue(href="javascript:") MORE STORIES
// Module 3 end