.module.module_20
	.image
		img(src="imgs/module_20--photo.png")
	.content
		.category.original_category
			a(href="javascript:").button
				| Explorers
		.title These are the hotels I’ve stayed at  when Visiting Montreal
		.by by
		.name Alexey Rybin