.module.module_38
	.original_category
		.button Best New Music
	.title It’s Album Time
	.author Todd Terje
	.content
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		p Sed consectetur nibh sed ipsum mattis porttitor. Nam ullamcorper imperdiet diam, vitae iaculis mauris accumsan quis.