.module.module_25
	.background
		img(src="http://lorempixel.com/1024/600/nature/")
	.content
		.title Lake Montreal is in a, created by the, where the Earth's crust pulls apart.
		.description Photograph by Michael Melford, National Geographic Creative
		.close
			a(href="javascript:")
				i.fa.fa-times
