// Module 2 start
.module.module_29
	.module_content
		.cta
			.group_1
				a.hover-blue(href="javascript:") Event that take part in Montreal
			.group_2
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
		.background(style="background-image:url(http://lorempixel.com/1080/313/city/)")
// Module 2 end