.module.module_12
	.feature_item
		.category WEEKLY DEALS
		.title Restaurant Deals
		.description
			| Up To 70% Off
			br
			| Selected Restaurants
		.button
			button(onclick="window.location.href='#'") MORE DEALS
	ul.list
		each val in [1, 2, 3]
			include module_12--item
	.clearfix
