// Module 3 Item start
.module_3--item.mobile_carousel--item
	.image.hidden-lg.hidden-md
		img.img-responsive(src="http://lorempixel.com/728/460/city/")
	.category
		a.hover-blue(href="javascript:") Explorers
	.title
		a.hover-blue(href="javascript:") Kaytranada Channels Dilla, Embraces Up-Tempo Neo-Soul
// Module 3 Item end