// Module 7 start
.module.child_module.module_7
	.module_content
		.title FOLLOW US
		ul.content
			li.facebook
				a.hover-blue(href="javascript:")
					| &nbsp;
			li.twitter
				a.hover-blue(href="javascript:")
					| &nbsp;
			li.instagram
				a.hover-blue(href="javascript:")
					| &nbsp;
			li.rss
				a.hover-blue(href="javascript:")
					| &nbsp;
// Module 7 end