.module.module_27
	.title
		| Comments
		.count
			.content 2
	.edit_button
		a(href="javascript:")
			img(src="imgs/icon_pencil.svg")
	.list
		.level_1
			include module_27--item
		.level_2
			include module_27--item
		.level_1
			include module_27--item
	include module_27--form