form.navbar-search(role='search')
	.search-group
		#search.search_area
			.search-container
				form.search-form
					input.search-input#search-input(type='search', placeholder='Search...')
					i.fa.fa-search
				.search-content
					.dummy-row
						.dummy-column
							h2 Eat
							a.dummy-media-object(href='#')
								img.round(src="http://lorempixel.com/35/35/people/")
								h3 Sara Soueidan
							a.dummy-media-object(href='#')
								img.round(src="http://lorempixel.com/35/35/people/")
								h3 Rachel Smith
							a.dummy-media-object(href='#')
								img.round(src="http://lorempixel.com/35/35/people/")
								h3 Peter Finlan
							a.dummy-media-object(href='#')
								img.round(src="http://lorempixel.com/35/35/people/")
								h3 Patrick Cox
							a.dummy-media-object(href='#')
								img.round(src="http://lorempixel.com/35/35/people/")
								h3 Tim Holman
							a.dummy-media-object(href='#')
								img.round(src="http://lorempixel.com/35/35/people/")
								h3 Shaun Dona
						.dummy-column
							h2 Get here
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/food/")
								h3 Sara Soueidan
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/food/")
								h3 Rachel Smith
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/food/")
								h3 Peter Finlan
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/food/")
								h3 Patrick Cox
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/food/")
								h3 Tim Holman
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/food/")
								h3 Shaun Dona
						.dummy-column
							h2 Buy Stuff
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/nature/")
								h3 Sara Soueidan
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/nature/")
								h3 Rachel Smith
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/nature/")
								h3 Peter Finlan
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/nature/")
								h3 Patrick Cox
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/nature/")
								h3 Tim Holman
							a.dummy-media-object(href='#')
								img(src="http://lorempixel.com/35/35/nature/")
								h3 Shaun Dona
				// search-content
				span.search-close
